<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        footer{
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #fff;
            color: black;
            text-align: center;
        }
        footer p{
            padding: 0.5rem;
            margin: 0;
        }
    </style>
    <footer>
        <p>Copyright &copy; 2022</p>
    </footer>
</body>
</html>